services:
  flipt:
    image: ghcr.io/flipt-io/flipt:v2.5.0
    command: ["/flipt", "server"]
    user: root
    ports:
      - "8080:8080"
    volumes:
      - ./:/workspace
      - ./config/local.yml:/etc/flipt/config/default.yml:ro
      - ./config/local-namespace.rego:/etc/flipt/policies/local-namespace.rego:ro
    environment:
      - FLIPT_LOG_LEVEL=debug
      - FLIPT_LOCAL_ADMIN_TOKEN=local-admin-token
      - FLIPT_LOCAL_CAR_TOKEN=local-car-token
      - FLIPT_LOCAL_GITHUB_CLIENT_ID=${FLIPT_LOCAL_GITHUB_CLIENT_ID:-change-me}
      - FLIPT_LOCAL_GITHUB_CLIENT_SECRET=${FLIPT_LOCAL_GITHUB_CLIENT_SECRET:-change-me}
