generic-service:
  productId: DPS091
  nameOverride: hmpps-feature-flags

  image:
    repository: ghcr.io/ministryofjustice/hmpps-feature-flags
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    host: app-hostname.local # override per environment
    tlsSecretName: hmpps-feature-flags-cert

  readinessProbe:
    httpGet:
      path: /health

  livenessProbe:
    httpGet:
      path: /health

  startupProbe:
    httpGet:
      path: /health
      port: http

  resources:
    requests:
      memory: 64Mi
      cpu: 0.1
    limits:
      memory: 1Gi
      cpu: 1

  securityContext:
    runAsUser: 100 # flipt

  env:
    FLIPT_LOG_LEVEL: debug

  namespace_secrets:
    flipt-github-app:
      FLIPT_GITHUB_CLIENT_ID: CLIENT_ID
      FLIPT_GITHUB_CLIENT_SECRET: CLIENT_SECRET
    flipt-git-token:
      FLIPT_GIT_ACCESS_TOKEN: TOKEN

  allowlist:
    groups:
      - internal

  custommetrics:
    enabled: true
    metricsPath: /metrics

generic-prometheus-alerts:
  targetApplication: hmpps-feature-flags
