version: "2.0"

authentication:
  required: true
  session:
    domain: "127.0.0.1"
    secure: false
    csrf:
      secure: false
  methods:
    token:
      enabled: true
      storage:
        tokens:
          local-admin:
            credential: "${env:FLIPT_LOCAL_ADMIN_TOKEN}"
            metadata:
              github_teams: "{\"ministryofjustice\":[\"hmpps-feature-flag-admins\"]}"
    github:
      enabled: true
      client_id: "${env:FLIPT_LOCAL_GITHUB_CLIENT_ID}"
      client_secret: "${env:FLIPT_LOCAL_GITHUB_CLIENT_SECRET}"
      redirect_address: "http://127.0.0.1:8080"
      scopes:
        - "user:email"
        - "read:user"
        - "read:org"
      allowed_organizations:
        - "ministryofjustice"

authorization:
  required: true
  local:
    policy:
      path: "/etc/flipt/policies/namespace.rego"
      poll_interval: "15s"
    data:
      path: "/var/opt/flipt/acl-data.json"
      poll_interval: "15s"

credentials:
  github:
    type: access_token
    access_token: "${env:FLIPT_GIT_ACCESS_TOKEN}"

storage:
  main:
    remote: "https://github.com/ministryofjustice/hmpps-feature-flags.git"
    branch: "flipt-v2"
    poll_interval: "30s"
    fetch_policy: "lenient"
    credentials: "github"
    backend:
      type: local
      path: "/var/opt/flipt/repo"

environments:
  dev:
    name: "dev"
    storage: "main"
    default: true
    directory: "flags/dev"
