name: Pipeline [test -> build -> deploy]

on:
  push:
    branches:
      - "**"
  workflow_dispatch:
    inputs:
      additional_docker_tag:
        description: Additional docker tag that can be used to specify stable or testing tags
        required: false
        default: ""
        type: string
      push:
        description: Push docker image to registry flag
        required: true
        default: false
        type: boolean

permissions:
  contents: read
  packages: write

concurrency:
  # Only cancel in progress when on a branch - use SHA on main to ensure uniqueness.
  # This will allow multiple pipelines to run at the same time on main.
  # Note that two pipelines running within a few minutes of each other will cause issues with helm deploying to
  # a namespace, as the second one will not be able to get a lock as a deploy will be in progress.
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.sha || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  helm_lint:
    name: Helm lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ["dev", "preprod", "prod"]
    steps:
      - uses: actions/checkout@v4
      - name: Install hcl2json
        run: brew install hcl2json

      - name: Convert teams HCL to JSON and copy to Helm chart
        run: |
          mkdir -p helm_deploy/hmpps-feature-flags/data
          hcl2json teams-${{ matrix.environment }}.tf > helm_deploy/hmpps-feature-flags/data/teams.json
      - uses: azure/setup-helm@v4
      - name: Helm lint
        run: |
          helm dependency build helm_deploy/hmpps-feature-flags
          helm lint helm_deploy/hmpps-feature-flags -f helm_deploy/values-${{ matrix.environment }}.yaml
  build:
    name: Build docker image from hmpps-github-actions
    if: github.ref == 'refs/heads/main'
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/docker_build.yml@v2 # WORKFLOW_VERSION
    with:
      docker_registry: "ghcr.io"
      registry_org: "ministryofjustice"
      additional_docker_tag: ${{ inputs.additional_docker_tag }}
      push: ${{ inputs.push || true }}
      docker_multiplatform: false
  deploy_dev:
    name: Deploy to the development environment
    needs:
      - build
      - helm_lint
    uses: ./.github/workflows/deploy_env.yml
    secrets: inherit
    with:
      environment: "dev"
      app_version: "${{ needs.build.outputs.app_version }}"
  deploy_preprod:
    name: Deploy to pre-production environment
    needs:
      - build
      - deploy_dev
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: "preprod"
      app_version: "${{ needs.build.outputs.app_version }}"
  deploy_prod:
    name: Deploy to production environment
    needs:
      - build
      - deploy_preprod
    uses: ministryofjustice/hmpps-github-actions/.github/workflows/deploy_env.yml@v2 # WORKFLOW_VERSION
    secrets: inherit
    with:
      environment: "prod"
      app_version: "${{ needs.build.outputs.app_version }}"
