apiVersion: v1
kind: ConfigMap
metadata:
  name: flipt-config
  labels:
    app.kubernetes.io/name: hmpps-feature-flags
data:
  default.yml: |
    version: "2.0"

    credentials:
      github:
        type: access_token
        access_token: "${env:FLIPT_GIT_ACCESS_TOKEN}"

    storage:
      main:
        remote: "https://github.com/ministryofjustice/hmpps-feature-flags.git"
        branch: "main"
        poll_interval: "30s"
        fetch_policy: "{{ .Values.fliptEnvironment.fetchPolicy }}"
        credentials: "github"
        backend:
          type: local
          path: "/var/opt/flipt/repo"

    environments:
      {{ .Values.fliptEnvironment.name }}:
        name: "{{ .Values.fliptEnvironment.displayName }}"
        storage: "main"
        default: true
        directory: "{{ .Values.fliptEnvironment.directory }}"
